PROJECT_NAME="SMS API"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# Database PostgreSQL + PostGIS (Neon ou Supabase ou Local)
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/sms_db"

# Segurança & JWT
SECRET_KEY="sua_chave_secreta_super_segura_para_desenvolvimento"
ACCESS_TOKEN_EXPIRE_MINUTES=10080 # 7 dias

# Storage Supabase / R2
SUPABASE_URL=""
SUPABASE_KEY=""
